version: '3.8'

services:
  ner_service:
    image: mrpzzios/runne_contrastive_ner_tf:fixed
    ports:
      - "8001:8000"

  re_service:
    image: mrpzzios/bertre:1.3
    ports:
      - "8003:8000"

  custom_service:
    build:
      context: ./services
    ports:
      - "8002:8000"
      - "8004:8000"
    env_file:
      - .env
