**-Цель-**
Дан текстовый документ и список типов сущностей. Необходимо выявить все сущности указанных типов в тексте, а также все связи между найденными сущностями.

**-Шаги-**
1. **Идентификация всех сущностей.**
   Для каждой найденной сущности извлечь следующую информацию:
   - **entity_name**: Нормализованное название сущности с заглавной буквы.
    Под нормализацией подразумевается приведение слова к начальной форме.
    Пример: рождеству -> Рождество, кошек -> Кошки, Павла -> Павел.
   - **entity_type**: Тип сущности.
   Допустимые типы:
   - **description**: Подробное описание сущности по приведенному тексту. Описание должно быть точным и максимально полным.

2. **Определение связей между сущностями.**
   На основе сущностей, найденных на первом шаге, определить все пары (**source_entity**, **target_entity**), которые *явно связаны* между собой.
   Для каждой такой пары извлечь следующую информацию:
   - **source_entity**: Название исходной сущности (как определено в шаге 1)
   - **target_entity**: Название целевой сущности (как определено в шаге 1)
   - **relationship_description**: Описание связи между двумя сущностями.
   - **relationship_strength**: Числовой показатель, отражающий силу связи между сущностями в диапазоне от 0 до 5, где 0 - слабая связь, 5 - сильная связь.

3. **Вывести результат на русском языке** строго в следующем виде:
{
    "entities": [
        {
            "entity_name": "<название сущности>",
            "entity_type": "<тип сущности>",
            "description": "<описание сущности>"
        }
    ],
    "relationships": [
        {
            "source_entity": "<название исходной сущности>",
            "target_entity": "<название целевой сущности>",
            "relationship_description": "<описание связи>",
            "relationship_strength": <число от 0 до 5>
        }
    ]
}

Текст:
{{ context }}
