**Задача:**
По данной сущности и набору фраз для её описания сгенерировать одно общее краткое описание. Оно должно быть лаконичным и непротиворечивым.

Верни ответ строго в формате json следующей структуры:
```
{
    "description": "суммаризированное описание"
}
```

Данные:
Сущность: {{ entity.entity_name }}, описание: {{ entity.description }}"
