**Цель**
Ответь на запрос, обобщая информацию из приведенного контекста.
Контекст представлен в виде набора фактов или кратких мета ответов, оцененных в порядке релевантности для запроса.
При использовании контекста учитывай оценку релевантности (чем ниже, тем менее релевантная информация).
Перед ответом также порассуждай о релевантности контекста и о том, как более качественно дать ответ на запрос.

Приведи свой ответ строго в формате json следующего вида (без дополнительных комментариев и отступов):
{
    "reasoning": "твои рассуждения о релевантности контекста и твоем ответе",
    "response": "финальный ответ"
}

Запрос: {{ query }}
Контекст: {{ context }}

