**Задача:**
По приведённым парам сущностей и набору фраз для описания их отношений сгенерировать одно общее краткое описание отношений между этими сущностями.
Описание должно быть лаконичным и непротиворечивым.

Верни ответ строго в формате json следующей структуры:
```
{
    "description": "суммаризированное описание"
}
```

Данные:
Субъект: {{ relation.source_entity }}, объект: {{ relation.target_entity }} описание отношения: {{ relation.relationship_description }}"
